{% case include.code %}
  {% when 'AD' %}Andorra
  {% when 'AE' %}United Arab Emirates
  {% when 'AF' %}Afghanistan
  {% when 'AG' %}Antigua and Barbuda
  {% when 'AI' %}Anguilla
  {% when 'AL' %}Albania
  {% when 'AM' %}Armenia
  {% when 'AO' %}Angola
  {% when 'AQ' %}Antarctica
  {% when 'AR' %}Argentina
  {% when 'AS' %}American Samoa
  {% when 'AT' %}Austria
  {% when 'AU' %}Australia
  {% when 'AW' %}Aruba
  {% when 'AX' %}Åland Islands
  {% when 'AZ' %}Azerbaijan
  {% when 'BA' %}Bosnia and Herzegovina
  {% when 'BB' %}Barbados
  {% when 'BD' %}Bangladesh
  {% when 'BE' %}Belgium
  {% when 'BF' %}Burkina Faso
  {% when 'BG' %}Bulgaria
  {% when 'BH' %}Bahrain
  {% when 'BI' %}Burundi
  {% when 'BJ' %}Benin
  {% when 'BL' %}Saint Barthélemy
  {% when 'BM' %}Bermuda
  {% when 'BN' %}Brunei
  {% when 'BO' %}Bolivia
  {% when 'BQ' %}Caribbean Netherlands
  {% when 'BR' %}Brazil
  {% when 'BS' %}Bahamas
  {% when 'BT' %}Bhutan
  {% when 'BV' %}Bouvet Island
  {% when 'BW' %}Botswana
  {% when 'BY' %}Belarus
  {% when 'BZ' %}Belize
  {% when 'CA' %}Canada
  {% when 'CC' %}Cocos (Keeling) Islands
  {% when 'CD' %}DR Congo
  {% when 'CF' %}Central African Republic
  {% when 'CG' %}Congo
  {% when 'CH' %}Switzerland
  {% when 'CI' %}Ivory Coast
  {% when 'CK' %}Cook Islands
  {% when 'CL' %}Chile
  {% when 'CM' %}Cameroon
  {% when 'CN' %}China
  {% when 'CO' %}Colombia
  {% when 'CR' %}Costa Rica
  {% when 'CU' %}Cuba
  {% when 'CV' %}Cape Verde
  {% when 'CW' %}Curaçao
  {% when 'CX' %}Christmas Island
  {% when 'CY' %}Cyprus
  {% when 'CZ' %}Czechia
  {% when 'DE' %}Germany
  {% when 'DJ' %}Djibouti
  {% when 'DK' %}Denmark
  {% when 'DM' %}Dominica
  {% when 'DO' %}Dominican Republic
  {% when 'DZ' %}Algeria
  {% when 'EC' %}Ecuador
  {% when 'EE' %}Estonia
  {% when 'EG' %}Egypt
  {% when 'EH' %}Western Sahara
  {% when 'ER' %}Eritrea
  {% when 'ES' %}Spain
  {% when 'ET' %}Ethiopia
  {% when 'FI' %}Finland
  {% when 'FJ' %}Fiji
  {% when 'FK' %}Falkland Islands
  {% when 'FM' %}Micronesia
  {% when 'FO' %}Faroe Islands
  {% when 'FR' %}France
  {% when 'GA' %}Gabon
  {% when 'GB' %}United Kingdom
  {% when 'GD' %}Grenada
  {% when 'GE' %}Georgia
  {% when 'GF' %}French Guiana
  {% when 'GG' %}Guernsey
  {% when 'GH' %}Ghana
  {% when 'GI' %}Gibraltar
  {% when 'GL' %}Greenland
  {% when 'GM' %}Gambia
  {% when 'GN' %}Guinea
  {% when 'GP' %}Guadeloupe
  {% when 'GQ' %}Equatorial Guinea
  {% when 'GR' %}Greece
  {% when 'GS' %}South Georgia
  {% when 'GT' %}Guatemala
  {% when 'GU' %}Guam
  {% when 'GW' %}Guinea-Bissau
  {% when 'GY' %}Guyana
  {% when 'HK' %}Hong Kong
  {% when 'HM' %}Heard Island and McDonald Islands
  {% when 'HN' %}Honduras
  {% when 'HR' %}Croatia
  {% when 'HT' %}Haiti
  {% when 'HU' %}Hungary
  {% when 'ID' %}Indonesia
  {% when 'IE' %}Ireland
  {% when 'IL' %}Israel
  {% when 'IM' %}Isle of Man
  {% when 'IN' %}India
  {% when 'IO' %}British Indian Ocean Territory
  {% when 'IQ' %}Iraq
  {% when 'IR' %}Iran
  {% when 'IS' %}Iceland
  {% when 'IT' %}Italy
  {% when 'JE' %}Jersey
  {% when 'JM' %}Jamaica
  {% when 'JO' %}Jordan
  {% when 'JP' %}Japan
  {% when 'KE' %}Kenya
  {% when 'KG' %}Kyrgyzstan
  {% when 'KH' %}Cambodia
  {% when 'KI' %}Kiribati
  {% when 'KM' %}Comoros
  {% when 'KN' %}Saint Kitts and Nevis
  {% when 'KP' %}North Korea
  {% when 'KR' %}South Korea
  {% when 'KW' %}Kuwait
  {% when 'KY' %}Cayman Islands
  {% when 'KZ' %}Kazakhstan
  {% when 'LA' %}Laos
  {% when 'LB' %}Lebanon
  {% when 'LC' %}Saint Lucia
  {% when 'LI' %}Liechtenstein
  {% when 'LK' %}Sri Lanka
  {% when 'LR' %}Liberia
  {% when 'LS' %}Lesotho
  {% when 'LT' %}Lithuania
  {% when 'LU' %}Luxembourg
  {% when 'LV' %}Latvia
  {% when 'LY' %}Libya
  {% when 'MA' %}Morocco
  {% when 'MC' %}Monaco
  {% when 'MD' %}Moldova
  {% when 'ME' %}Montenegro
  {% when 'MF' %}Saint Martin
  {% when 'MG' %}Madagascar
  {% when 'MH' %}Marshall Islands
  {% when 'MK' %}North Macedonia
  {% when 'ML' %}Mali
  {% when 'MM' %}Myanmar
  {% when 'MN' %}Mongolia
  {% when 'MO' %}Macau
  {% when 'MP' %}Northern Mariana Islands
  {% when 'MQ' %}Martinique
  {% when 'MR' %}Mauritania
  {% when 'MS' %}Montserrat
  {% when 'MT' %}Malta
  {% when 'MU' %}Mauritius
  {% when 'MV' %}Maldives
  {% when 'MW' %}Malawi
  {% when 'MX' %}Mexico
  {% when 'MY' %}Malaysia
  {% when 'MZ' %}Mozambique
  {% when 'NA' %}Namibia
  {% when 'NC' %}New Caledonia
  {% when 'NE' %}Niger
  {% when 'NF' %}Norfolk Island
  {% when 'NG' %}Nigeria
  {% when 'NI' %}Nicaragua
  {% when 'NL' %}Netherlands
  {% when 'NO' %}Norway
  {% when 'NP' %}Nepal
  {% when 'NR' %}Nauru
  {% when 'NU' %}Niue
  {% when 'NZ' %}New Zealand
  {% when 'OM' %}Oman
  {% when 'PA' %}Panama
  {% when 'PE' %}Peru
  {% when 'PF' %}French Polynesia
  {% when 'PG' %}Papua New Guinea
  {% when 'PH' %}Philippines
  {% when 'PK' %}Pakistan
  {% when 'PL' %}Poland
  {% when 'PM' %}Saint Pierre and Miquelon
  {% when 'PN' %}Pitcairn Islands
  {% when 'PR' %}Puerto Rico
  {% when 'PS' %}Palestine
  {% when 'PT' %}Portugal
  {% when 'PW' %}Palau
  {% when 'PY' %}Paraguay
  {% when 'QA' %}Qatar
  {% when 'RE' %}Réunion
  {% when 'RO' %}Romania
  {% when 'RS' %}Serbia
  {% when 'RU' %}Russia
  {% when 'RW' %}Rwanda
  {% when 'SA' %}Saudi Arabia
  {% when 'SB' %}Solomon Islands
  {% when 'SC' %}Seychelles
  {% when 'SD' %}Sudan
  {% when 'SE' %}Sweden
  {% when 'SG' %}Singapore
  {% when 'SH' %}Saint Helena, Ascension and Tristan da Cunha
  {% when 'SI' %}Slovenia
  {% when 'SJ' %}Svalbard and Jan Mayen
  {% when 'SK' %}Slovakia
  {% when 'SL' %}Sierra Leone
  {% when 'SM' %}San Marino
  {% when 'SN' %}Senegal
  {% when 'SO' %}Somalia
  {% when 'SR' %}Suriname
  {% when 'SS' %}South Sudan
  {% when 'ST' %}São Tomé and Príncipe
  {% when 'SV' %}El Salvador
  {% when 'SX' %}Sint Maarten
  {% when 'SY' %}Syria
  {% when 'SZ' %}Eswatini
  {% when 'TC' %}Turks and Caicos Islands
  {% when 'TD' %}Chad
  {% when 'TF' %}French Southern and Antarctic Lands
  {% when 'TG' %}Togo
  {% when 'TH' %}Thailand
  {% when 'TJ' %}Tajikistan
  {% when 'TK' %}Tokelau
  {% when 'TL' %}Timor-Leste
  {% when 'TM' %}Turkmenistan
  {% when 'TN' %}Tunisia
  {% when 'TO' %}Tonga
  {% when 'TR' %}Türkiye
  {% when 'TT' %}Trinidad and Tobago
  {% when 'TV' %}Tuvalu
  {% when 'TW' %}Taiwan
  {% when 'TZ' %}Tanzania
  {% when 'UA' %}Ukraine
  {% when 'UG' %}Uganda
  {% when 'UM' %}United States Minor Outlying Islands
  {% when 'US' %}United States
  {% when 'UY' %}Uruguay
  {% when 'UZ' %}Uzbekistan
  {% when 'VA' %}Vatican City
  {% when 'VC' %}Saint Vincent and the Grenadines
  {% when 'VE' %}Venezuela
  {% when 'VG' %}British Virgin Islands
  {% when 'VI' %}United States Virgin Islands
  {% when 'VN' %}Vietnam
  {% when 'VU' %}Vanuatu
  {% when 'WF' %}Wallis and Futuna
  {% when 'WS' %}Samoa
  {% when 'XK' %}Kosovo
  {% when 'YE' %}Yemen
  {% when 'YT' %}Mayotte
  {% when 'ZA' %}South Africa
  {% when 'ZM' %}Zambia
  {% when 'ZW' %}Zimbabwe
  {% else %}{{ include.code }}
{% endcase %}
