---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <div class="case-fields">
      {% assign system_keys = "layout,title,airtable_id,slug,content,dir,path,url,next,previous,excerpt,date,categories,tags,id" | split: "," %}
      {% for field in page %}
        {% unless system_keys contains field[0] %}
          <div class="field-container">
            <label class="field-label">{{ field[0] }}</label>
            <div class="field-value">
              {% if field[1].first %}
                <ul>
                  {% for item in field[1] %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                {{ field[1] }}
              {% endif %}
            </div>
          </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</article>

<style>
.field-container {
  margin-bottom: 1rem;
}
.field-label {
  font-weight: bold;
}
</style>
